Django>=5.2,<6.1.1
djangorestframework==3.18.1
python-dotenv==1.2.3
shortuuid==1.0.13
psycopg2-binary==2.9.12
gunicorn # Servidor WSGI de produção para Linux.
waitress # Servidor WSGI de produção para Windows.
whitenoise>=6.9,<7